# DB
DB_URL=url
DB_USERNAME=user
DB_PASSWORD=pass

# JWT
JWT_SECRET=secret
TOKEN_EXPIRATION=exp
REFRESH_TOKEN_EXPIRATION=ref

# email verification
EMAIL=email
PASSWORD=pass

# upload profile pic path
UPLOAD_DIR=path