# config
PORT=
BASE_URL=
# DB
DB_URL=
DB_USERNAME=
DB_PASSWORD=
# JWT
JWT_SECRET=
TOKEN_EXPIRATION=
REFRESH_TOKEN_EXPIRATION=
# email verification
EMAIL=
PASSWORD=
# frontend url
ALLOWED_ORIGIN=
# judge0
JUDGE0_URL=
JUDGE0_KEY=
JUDGE0_HOST=
# cloudinary
CLOUD_NAME=
CLOUD_API_KEY=
CLOUD_API_SECRET=
PROFILE_PICTURE_FOLDER=
GROUP_PICTURE_FOLDER=
# CSES
CSES_HANDLE=
CSES_PASSWORD=
# Codeforces
CODEFORCES_HANDLE=
CODEFORCES_PASSWORD=
#AtCoder
ATCODER_HANDLE=
ATCODER_PASSWORD=