#port
PORT=port_number
BASE_URL=http://localhost:PORT_HERE

# DB
DB_URL=url
DB_USERNAME=user
DB_PASSWORD=pass

# JWT
JWT_SECRET=secret
TOKEN_EXPIRATION=exp
REFRESH_TOKEN_EXPIRATION=ref

# email verification
EMAIL=email
PASSWORD=pass

# frontend url
FRONTEND_URL=url

# judge0
JUDGE0_URL=
JUDGE0_KEY=
JUDGE0_HOST=

# cloudinary
CLOUD_NAME=
CLOUD_API_KEY=
CLOUD_API_SECRET=
PROFILE_PICTURE_FOLDER=
GROUP_PICTURE_FOLDER=